.navbar {
    transition: all 0.3s;
    background-color: rgba(29, 25, 27, 0.5);

    .navbar-brand,
    .navbar-tabs {
        transition: all 0.4s;
    }
    .navbar-item,
    .navbar-link {
        transition: all 0.4s;
    }

    .menu-item {
        text-transform: uppercase;
        font-size: 1.1em;
        @include until($desktop) {
            color: rgba(28, 75, 91);
            padding: 2rem 1.5rem;
            font-size: 1.5em;
        }
    }

    .navbar-item {
        &.is-active {
            background: rgba(28, 75, 91);
        }
    }

    &.pinned {
        min-height: 3rem;
        //background-color: rgba(28, 75, 91, 0.95);
        background-color: rgba(29, 25, 27, 0.90);

        .navbar-brand,
        .navbar-tabs {
            min-height: 1rem;
        }

        .navbar-item {
            @include from($desktop) {
                padding: 0 0.75rem;
            }
        }

        .navbar-item img {
        }
    }
}

.page-template-template-simple-page {
    .navbar {
        background: rgba(29, 25, 27, 1);
        filter: unset;

        &.pinned {
            background-color: rgba(29, 25, 27, 0.90);
        }
    }
}
